[submodule "1-jsx"]
	path = 1-jsx
	url = ./1-jsx.git
[submodule "2-components"]
	path = 2-components
	url = ./2-components.git
[submodule "3-seasons"]
	path = 3-seasons
	url = ./3-seasons.git
[submodule "4-pics"]
	path = 4-pics
	url = ./4-pics.git
